body {
    margin:0;
    background:#050014;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}

nav a {
    color:#00eaff;
    margin:10px;
    text-decoration:none;
}

.hero {
    padding:80px;
    background:radial-gradient(circle,#ff00e1,#000);
}

.grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px;
}

.card {
    padding:40px;
    border:2px solid #00eaff;
    box-shadow:0 0 15px #00eaff;
}

table {
    margin:20px auto;
    border-collapse:collapse;
}

th,td {
    border:1px solid #00eaff;
    padding:10px;
}

input[type="number"]{
    width:50px;
    text-align:center;
}

button{
    padding:10px 20px;
    margin:10px;
    border:2px solid #ff00e1;
    background:black;
    color:#ff00e1;
}

.hof-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px;
}

.hof-card{
    border:2px solid gold;
    padding:25px;
    box-shadow:0 0 20px gold;
}

.hof-name{
    font-size:24px;
    font-weight:bold;
    margin-bottom:10px;
}

footer{
    padding:20px;
}